@model InvoiceSystem.Entities.Invoice.Product


<div class="modal fade" id="addllist" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex f-direction-row-reverse">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن کالای جدید</h4>
            </div>
            <form asp-controller="Products" asp-action="CreateProductwhitAjax" class="form" data-ajax="true" data-ajax-method="post" data-ajax-success="CreateProductSuccess">
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProductCategoryId" class="control-label"></label>
                                    <div class="d-flex">
                                        <select asp-for="ProductCategoryId" class="form-control ProductCategorySelectId ProductCategoryItems" asp-items="ViewBag.ProductCategoryId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProductCode" class="control-label"></label>
                                    <input asp-for="ProductCode" class="form-control" />
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProductName" class="control-label"></label>
                                    <input asp-for="ProductName" class="form-control empty" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="fa fa-check-square-o"></i> ذخیره
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">بازگشت</button>
                </div>
            </form>
        </div>
    </div>
</div>