@model InvoiceSystem.Entities.Invoice.Product

@{
    ViewData["Title"] = "Details";
}

<h2>اطلاعات کالا</h2>








<div class="col-12">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-content">
            <div class="px-3">

                <form asp-action="Details" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ProductCode" class="control-label"></label>
                                    <input asp-for="ProductCode" class="form-control" disabled />
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ProductName" class="control-label"></label>
                                    <input asp-for="ProductName" class="form-control" disabled />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ProductCategoryId" class="control-label"></label>
                                    <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId" disabled></select>
                                    <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">

                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-raised btn-primary"><i class="fa fa-check-square-o"></i> ویرایش</a>
                        <a asp-action="Index" class="btn btn-raised btn-warning"><i class="ft-x"></i>بازگشت</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>