@model InvoiceSystem.Entities.Invoice.Person
@using static InvoiceSystem.Common.Public.PublicMethods


<div class="modal fade" id="CreatePeopleModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex f-direction-row-reverse">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن مشتری جدید</h4>
            </div>
            <form asp-controller="People" asp-action="CreatePeoplewhitAjax" class="form" data-ajax="true" data-ajax-method="post" data-ajax-success="CreatePeopleSuccess">
                <div class="modal-body">
                    <div class="form-body">
                        @*<h4 class="form-section"><i class="ft-info"></i> اطلاعات کاربر</h4>*@
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="EconomicalNumber" class="control-label"></label>
                                    <input asp-for="EconomicalNumber" class="form-control" />
                                    <span asp-validation-for="EconomicalNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="RegisterNumber" class="control-label"></label>
                                    <input asp-for="RegisterNumber" class="form-control" />
                                    <span asp-validation-for="RegisterNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="NationalCode" class="control-label"></label>
                                    <input asp-for="NationalCode" class="form-control" />
                                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label name="province" class="control-label">استان</label>
                                    <select name="province" id="province" class="form-control" asp-items="ViewBag.countryDivisionsId"></select>
                                    @*<span asp-validation-for="TownId" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="TownId" class="control-label"></label>
                                    <select asp-for="TownId" class="form-control"></select>
                                    <span asp-validation-for="TownId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Mobile" class="control-label"></label>
                                    <input asp-for="Mobile" class="form-control" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="control-label"></label>
                                    <input asp-for="ZipCode" class="form-control" />
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Fax" class="control-label"></label>
                                    <input asp-for="Fax" class="form-control" />
                                    <span asp-validation-for="Fax" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="PersonTypeId" class="control-label"></label>
                                    <select asp-for="PersonTypeId" class="form-control" asp-items="Html.GetEnumSelectList<PersonTypeEnum>()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="checkbox mt-4">
                                        <label>
                                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea asp-for="Address" class="form-control"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="fa fa-check-square-o"></i> ذخیره
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">بازگشت</button>
                </div>
            </form>
        </div>
    </div>
</div>